<!--
    <div class="col-3 d-flex justify-content-center" id="left">

        <div class="left d-flex flex-column align-items-center text-center">

            <div class="foto-perfil mt-5 mb-3"></div>

            <nav class="nav-profile">
                <ul>
                    <li><a href="">Datos Personales</a></li>
                    <li><a href="">Historial de compras</a></li>
                    <li><a href="">Contraseñas</a></li>
                    <li><a href="">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>
    </div>
-->



<nav class="col-lg-3 col-sm-12 navbar navbar-expand-lg d-flex align-items-start" id="left">
    

        <i class="fas fa-user-cog navbar-toggler" data-target="#izquierda" data-toggle="collapse" type="button"></i>


        
            
        <div class="  collapse navbar-collapse w" id="izquierda" >


            



                <div class="left d-flex flex-column align-items-center text-center m-auto">
        
                    <div class="foto-perfil mt-5 mb-3"></div>
        
                    <nav class="nav-profile">
                        <ul>
                            <li><a href="/profile/personal-data">Datos Personales</a></li>
                            <li><a href="/profile/record">Historial de compras</a></li>
                            <li><a href="/profile/password">Contraseñas</a></li>
                            <form action="/users/logout" method="GET">
                                <button id="botonLogout" type="submit">
                                    Cerrar sesión
                                </button>
                        </form>
                        </ul>
                    </nav>
                </div>

        </div>
            
            



</nav>

