
#img-agregar-productos .imgproductos img{
    background-color: transparent;
    outline: none;
    border: none;

    opacity: 0;
    width: 100%;
    border: 1px dashed black;
}

.input-agregar-producto input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.button button {
background-color:#e9dfcf;
border-radius: 5px;
outline:none;
border:none;
padding: 10px;
}
.button button:last-child {
    background-color: transparent;
}

#tabla {
    background-color: #e9dfcf;
}

#stock img {
    height: 2rem;
}

input[type='file'] {
    outline: none;
    border: none;
    background-color: transparent;
   padding: 100px;
    border: 1px dashed black;  
  }

  .trash{
      background-color: transparent;
      border: none;outline: none;
  }
