@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Baloo Paaji 2';
    letter-spacing: 3px;
    color:#404040;
}
a:hover{
    text-decoration: none;
}
.navbar-toggler{ border:none; }
.form-control{ border: none; }
.relleno{
    height: 69px;
    background-color: red;
}

#tablaTotal{

    border:1px solid #E9DFCF; 
    text-align:center;
    margin-top:10px;
    font-size:0,5rem;
    margin-bottom: 30px;}

#tablaMiddle{

border:1px solid #E9DFCF; 
text-align:center;
font-size:0,5rem;
margin-bottom: 30px;}

#tablaFirst{
    border:1px solid #E9DFCF; 
    text-align:center;

    font-size:0,5rem;
    margin-bottom: 30px;}

#boton{
    background-color: #E9DFCF;
    border: 1px solid white;
    color:black;
}
#boton:hover {
    background-color: #f7f7f7;}

    section{
        margin:auto;
    }
    div.icon{
        width:30px;
        height:30px;
        background:blue;
    }

    .trash{
        background-color: transparent;
        border: none;outline: none;
    }

