@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Baloo Paaji 2';
    letter-spacing: 3px;
    color:#404040;
}
.navBar{
    background-color: #E9DFCF;
    padding-top:2rem;
    justify-content:center;
    height: 100%;


}

.navBar ul{
    font-size: 3vh;
justify-content: center;}

.navBar ul a{
    font-size:3vh;
    color:#909090;
    transition: .3s;


}

.navBar ul a:hover{
color:black;
text-decoration: none;
}
.container{
    display: flex;
}