.container #left ul li:nth-child(2) a{
    color: #000;
}
.container #left ul li:nth-child(1) a{
    color: #0077cc;
}
#right #filter{
    position: absolute;
    top: 50px;
    left: 100px;
}
select{
    width: 100px;
    background-color: #f7f7f7;
    border: none;
}
#productsRecord{
    padding: 30px 50px;
}
#productsRecord .productRecord{
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px #909090;
    display: flex;
    justify-content: space-around;
}
.image{
    width: 100px;
    height: 100px;
    background-color: red;
}
.image img{
    height: 100%;
}
.name , .price , .date {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name span, .price span, .date span{
    margin: 5px;
    color: #909090;
}
.name span:nth-child(1), .price span:nth-child(1), .date span:nth-child(1){
    font-weight: bold;
    color: black;
}