
#right .right .product-record .product-img{
    width: 4.5rem;
    height: 4.5rem;
}
#right .right .product-record .product-img img{
    width: 100%;
}
#right .right .product-record{
    border-radius: 0.5rem;
}
#right .right select{
    width: 10rem;
    border: 1px solid #ccc;
    outline: none;
}