#right .right input.contraseña{
    outline: none;
    transition: .3s;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: none;
}
#right .right input.contraseña:focus{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
}