#right .right input{
    border: none;
    outline: none;
    background-color: #f7f7f7;
    padding-left: 0;
}
#right .right .input-group-prepend .basic-addon1{
    background-color: #f7f7f7;
    border: none;
    outline: none;
}
#right .right h3{
    font-size: 1rem;
    padding: 0 50px;
}
#right .right .card{
    width: 100%;
    _height: 300px;
    background-color: #f7f7f7;
    position: relative;
    border-radius: 0.7rem;
}
#right .right .card .fa-times{
    position: absolute;
    color: #909090;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}
#right .right .card span{
    color: #aaa;
}