.container #left ul li:nth-child(2) a{
    color: #000;
}

.container #left ul li:nth-child(3) a{
    color: #0077cc;
}
#right #password{
    margin: auto;
    width: 60%;
    height: 70vh;
    margin-top: 50px;
    padding: 0 0 0 100px ;
}
#right #password{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#right #password input{
    width: 200px;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #707070;
    padding: 5px;
}
#right #password label{
    margin: 20px 0 0 0;
}


#right button{
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #e9dfcf;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 200px;
    margin: 50px;
    cursor: pointer;
}