<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Archivos CSS -->
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/admproducts.css">
    <!-- Archivos javascript -->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Detail</title>
</head>
<body>



    <!-- Hoja de estilo para el nav navbar.css -->
    <div class="relleno"></div>
    <nav>
        <div class="navContainer">
            <a href="/home">
                <img id="logo" src="/images/logo.svg" alt="">
            </a>
            <input id="buscador" type="search" value="" placeholder="Buscar">

            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/profile">Perfil</a></li>
                <li><a href="/products">Productos</a></li>
            </ul>
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>

    <section class="container">
        <div class="tabla">  
    
        <h3>Agregar un producto</h3>

<div class="fotoadm"><img src="/images/Boquitas pintadas mostrado.heic" alt=""></div>
<div class="fotoadm"><img src="/images/Boquitas pintadas mostrado.heic" alt=""></div>
<div class="fotoadm"><img src="/images/Boquitas pintadas mostrado.heic" alt=""></div>
<p><input type="text" placeholder="Nombre del producto" name="producto"></p>
<p><input type="text" placeholder="Descripción" name="Descripción"></p>
<p><input type="text" placeholder="Precio" name="Precio"></p>
<p><input type="text" placeholder="Stock" name="Stock"></p>
<p><input type="text" placeholder="Dimensiones" name="Dimensiones"></p>
<p><button class=" guardar">Guardar cambios</button></p>
<p><button>Cancelar</button></p>

</div>
</section>
<!--  -->

<section class="container">
	<div class="tabla">
        <h3>Productos</h3>
	<table>
			<tr>
			<th></th>
			<th style="text-align: center;">PRODUCTO</th>
            
            <th>STOCK</th>
			<th>PRECIO</th>
			<th>ELIMINAR</th>
			</tr>
			<tr>
			<td><img src="/images/Boquitas pintadas mostrado.heic" alt=""></td>
			<td>Pañuelo Boquitas</td>
			<td>1</td>
			<td>$720</td>
		
			<td><a href="#" class="fas fa-trash-alt" id="icono" style="color: #9b736c;"></a> </td>
			</tr> 
			<td><img src="/images/Boquitas pintadas mostrado.heic" alt=""></td>
			<td>Pañuelo Boquitas</td>
			<td>1</td>
			<td>$720</td>
			
            <td><a href="#" class="fas fa-trash-alt" id="icono" style="color: #9b736c;"></a> </td>
        </tr>
        <tr>
        <td><img src="/images/Boquitas pintadas mostrado.heic" alt=""></td>
        <td>Pañuelo Boquitas</td>
        <td>1</td>
        <td>$720</td>
       
        <td><a href="#" class="fas fa-trash-alt" id="icono" style="color: #9b736c;"></a> </td>
        </tr> 
            
	
		</table>
	</div>	
</section>

    
</body>
</html>