<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Archivos javascript -->
	<script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

	<!-- BOOTSTRAP -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<!-- Archivos CSS -->
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<link rel="stylesheet" href="/stylesheets/cart.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">

	<title>Carrito</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top w-100 m-0 shadow">
		<div class="container">
			<div class="navbar-brand">
				<img src="/images/logo.svg" height="40px" alt="">
			</div>

			<i class="fas fa-bars navbar-toggler" data-target="#menu" data-toggle="collapse" type="button"></i>

			<div class="collapse navbar-collapse" id="menu">

				<input class="form-control " type="text" placeholder="Search" aria-label="Search">


				<ul class="navbar-nav ml-auto">
					<li class="navbar-item mx-1">
						<a href="/home" class="nav-link">Inicio</a>
					</li>
					<li class="navbar-item mx-1">
						<a href="/profile" class="nav-link">Perfil</a>
					</li>
					<li class="navbar-item mx-1">
						<a href="/products" class="nav-link">Productos</a>
					</li>
					<li class="navbar-item mx-1">
						<a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="relleno"></div>
	<div class="container">
		<div class="row d-flex align-items-center">
			<section id="tablaFirst" class="col-12 d-flex align-items-center">
				<img class="col-2" src="/images/boquitas pintadas mostrado.HEIC" alt="BOQUITAS PINTADAS">
				<span class="col-3">BOQUITAS PINTADAS</span>
				<span class="col-4">
					<div id="botonModificar" class="btn-group mr-2 .btn-group-*" role="group" aria-label="Second group">
						<button id="boton" type="button" class="btn btn-secondary">-</button>
						<button id="boton" type="button" class="btn btn-secondary">1</button>
						<button id="boton" type="button" class="btn btn-secondary">+</button>
					</div>
				</span>
				<span class="col-2">$300</span>
				<span class="col-1"><a href="#" class="fas fa-trash-alt" id="icono" style="color:black;"></a></span>
			</section>
		</div>
		<div class="row d-flex align-items-center">
			<section id="tablaMiddle" class="col-12 d-flex align-items-center">
				<img class="col-2" src="/images/boquitas pintadas mostrado.HEIC" alt="BOQUITAS PINTADAS">
				<span class="col-3">BOQUITAS PINTADAS</span>
				<span class="col-4">
					<div id="botonModificar" class="btn-group mr-2 .btn-group-*" role="group" aria-label="Second group">
						<button id="boton" type="button" class="btn btn-secondary">-</button>
						<button id="boton" type="button" class="btn btn-secondary">1</button>
						<button id="boton" type="button" class="btn btn-secondary">+</button>
					</div>
				</span>
				<span class="col-2">$300</span>
				<span class="col-1"><a href="#" class="fas fa-trash-alt" id="icono" style="color:black;"></a></span>
			</section>
		</div>
		<div class="row d-flex align-items-center">
			<section id="tablaTotal" class="col-12 d-flex align-items-center">
				<img class="col-2">
				<span class="col-3"></span>
				<span class="col-4">TOTAL</span>
				<span class="col-2">$300</span>
				<span class="col-1"></span>
			</section>
		</div>
	</div>

    <%- include('partials/footer.ejs') %>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>