<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!--Bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!--Fontawesome-->
		<script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>
	
		<!--CSS-->
		<link rel="stylesheet" href="/stylesheets/navbar.css">
		<link rel="stylesheet" href="/stylesheets/cart.css">
		<link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Carrito</title>
</head>

<body>

	<%- include('partials/navbar.ejs') %>

<section class="container">
	<div class="tabla">
	<table>
			<tr>
			<th></th>
			<th style="text-align: center;">PRODUCTO</th>
			<th>CANTIDAD</th>
			<th>PRECIO</th>
			<th>TOTAL</th>
			<th>ELIMINAR</th>
			</tr>
			<tr>
			<td><img src="/images/Boquitas pintadas mostrado.heic" alt=""></td>
			<td>Pañuelo Boquitas</td>
			<td>1</td>
			<td>$720</td>
			<td>$720</td>
			<td><a href="#" class="fas fa-trash-alt" id="icono" style="color: #9b736c;"></a> </td>
			</tr> 
			<td><img src="/images/Boquitas pintadas mostrado.heic" alt=""></td>
			<td>Pañuelo Boquitas</td>
			<td>1</td>
			<td>$720</td>
			<td>$720</td>
			<td><a href="#" class="fas fa-trash-alt" id="icono" style="color: #9b736c;"></a> </td>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><strong>$1440</strong></td>
			<td></td>
			</tr> 
		</table>
	</div>	
</section>


<%- include('partials/footer.ejs') %>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>