<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/admproducts.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">


    <!--Javascript-->
    <script src="/javascripts/parallax.js"></script>
    <title>Home</title>
</head>
<body>

    <%- include('partials/navbar.ejs') %>


<div class="relleno"></div>
<div class="container py-5">
    <div class="row pb-2">
       <h2 class="col-12">Agregar Producto</h2>
    </div>

    <form action="products/products" enctype="multipart/form-data" method="POST">

        <div class="row pb-2" id="img-agregar-productos">
            <div class="col-sm-12 col-md-4 imgproductos pb-2">
                <input type="file" name="img">
            </div>
            <div class="col-sm-12 col-md-4 imgproductos pb-2">
                <input type="file" name="img">
            </div>
            <div class="col-sm-12 col-md-4 imgproductos pb-2">
                <input type="file" name="img">
            </div>
        </div>
        
        <div class="row pb-2 input-agregar-producto">
            <input type="text" placeholder="nombre" name="nombre" class="col-10 offset-1">
        </div>
        <div class="row pb-2 input-agregar-producto">
            <input type="text" placeholder="Descripcion" name="descripcion" class="col-10 offset-1">
        </div>
        <div class="row pb-2 input-agregar-producto">
            <input type="text" placeholder="Precio" name="precio" class="col-10 offset-1">
        </div>
        <div class="row pb-2 input-agregar-producto">
            <input type="text" placeholder="Stock" name="stock" class="col-10 offset-1">
        </div>
        <div class="row pb-2 input-agregar-producto">
            <input type="text" placeholder="Dimensiones" name="dimensiones" class="col-10 offset-1">
        </div>
        
        <div class="row pt-3">
            <div class="col-sm-12 col-md-3 ml-auto button">
                
                <button type="submit"> Guardar </button>
                
                <button>  Cancelar </button>
            </div>
        </div>
    </form>




</div>
    



    
</body>
</html>