<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/home.css">

    <!--Javascript-->
    <script src="/javascripts/parallax.js"></script>
    <title>Home</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top w-100 m-0 shadow">
        <div class="container">
            <div class="navbar-brand">
                <img src="/images/logo.svg" height="40px" alt="">
            </div>

            <i class="fas fa-bars navbar-toggler" data-target="#menu" data-toggle="collapse" type="button"></i>
                
            <div class="collapse navbar-collapse" id="menu">

                <input class="form-control " type="text" placeholder="Search" aria-label="Search">


                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item mx-1">
                        <a href="/home" class="nav-link">Inicio</a>
                    </li>
                    <li class="navbar-item mx-1">
                        <a href="/profile" class="nav-link">Perfil</a>
                    </li>
                    <li class="navbar-item mx-1">
                        <a href="/products" class="nav-link">Productos</a>
                    </li>
                    <li class="navbar-item mx-1">
                        <a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>                
            </div>
        </div>
    </nav>

    <div class="relleno"></div>

    <div id="carousel">
        <img class="w-100" src="/images/slider3.jpeg" alt="">
        <a href="" class="nav-link">
            <i class="fas fa-chevron-left p-5"></i>
        </a>
        <a href="" class="nav-link">
            <i class="fas fa-chevron-right p-5"></i>
        </a>
    </div>

    <main>
        <div class="container">
            
            <h2 class=" mt-5 pt-5">Productos Destacados</h2>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</p>
                </div>
            </div>


            <h2 class=" mt-5 pt-5">Productos Nuevos</h2>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 product mt-5">
                    <img class="w-100" src="/images/slider1.jpg" alt="">
                    <h3 class="text-center my-3">Nombre del producto</h3>
                    <p class="text-center">$300</p>
                </div>
            </div>
        </div>
    </main>

    <section>
        <article class="banner py-5">
            <h4 class="py-5 text-center my-5 text-white font-weight-bold">NUEVA TEMPORADA</h4>
        </article>

        <article class="py-5 w-25 m-auto">
            <img class="w-100" src="/images/pagos3.png" alt="">
        </article>
    </section>

    <footer class="">
        <div class="container">
            
            <div class="row d-flex justify-content-between">

                <span class="py-5 col-lg-6 col-md-6 col-sm-12 text-center">© Plumeti 2020</span>


                <span class="py-5 col-lg-6 col-md-6 col-sm-12 text-center">
                    <a href="">
                        <i class="ml-3 fab fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="ml-3 fab fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="ml-3 fab fa-whatsapp"></i>
                    </a>
                    <a href="">
                        <i class="ml-3 fas fa-envelope"></i>
                    </a>
                </span>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>