<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/profile-personal-data.css">

    <!-- scripts -->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>
    <title>Perfil</title>
</head>
<body>

        <!-- Hoja de estilo para el nav navbar.css -->
        <div class="relleno"></div>
        <nav>
            <div class="navContainer">
                <a href="/home">
                    <img id="logo" src="/images/logo.svg" alt="">
                </a>
                <input id="buscador" type="search" value="" placeholder="Buscar">
    
                <ul>
                    <li><a href="/home">Inicio</a></li>
                    <li><a href="/profile">Perfil</a></li>
                    <li><a href="/products">Productos</a></li>
                </ul>
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>

        <div class="container">
            <div class="left"></div>
            <div id="left">
                <div id="profile-image">
                    <p>Carga tu foto de perfil</p>
                </div>

                <ul>
                    <li><a href="/profile/record">Historial de compras</a></li>
                    <li><a href="/profile/personal-data">Datos personales</a></li>
                    <li><a href="/profile/password">Contraseña</a></li>
                    <li><a href="">Cerrar sesion</a></li>
                </ul>
            </div>

            <div id="right">
                <h2 class="h2">Informacion Personal</h2>
                <div class="datosPersonales">
                    <div class="dato">
                        <label for="nombre">Nombres</label>
                        <input type="text" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="dato">
                        <label for="apellido">Apellidos</label>
                        <input id="apellido" type="text" placeholder="Ingresa tu apellido">
                    </div>
                    <div class="dato">
                        <label for="documento">Documento</label>
                        <input id="documento" type="number" placeholder="Ingresa tu documento">
                    </div>
                </div>
                <div class="datosPersonales">
                    <div class="dato">
                        <label for="correo">Correo</label>
                        <input id="correo" type="email" placeholder="Ingresa Cucorreo">
                    </div>
                    <div class="dato">
                        <label for="telefono">Telefono</label>
                        <input id="telefono" type="tel" placeholder="Ingresa tu telefono">
                    </div>
                    <div class="dato">
                    </div>
                </div>

                <h2 class="h2">Metodos de pago</h2>
                <h4>Agregar tarjeta</h4>
                <div class="payment">
                    <div class="tarjeta">
                        <a href=""><i class="fas fa-times"></i></a>
                        <span>Visa Credito</span>
                        <span>Terminada en 2938</span>
                        <span>Banco Galicia</span>
                        <span>Vencimiento 11/05</span>
                    </div>
                    <div class="tarjeta">
                        <a href=""><i class="fas fa-times"></i></a>
                        <span>Visa Credito</span>
                        <span>Terminada en 2938</span>
                        <span>Banco Galicia</span>
                        <span>Vencimiento 11/05</span>
                    </div>
                </div>



                <h2 class="h2">Direcciones</h2>
                <h4>Agregar domicilio</h4>
                <div id="direcciones">
                    <div class="direccion">
                        <p><i class="fas fa-ellipsis-h"></i> Santa fe 1442, C.A.B.A. - Argentina.</p>
                    </div>
                    <div class="direccion">
                        <p><i class="fas fa-ellipsis-h"></i> Santa fe 1442, C.A.B.A. - Argentina.</p>
                    </div>
                    <div class="direccion">
                        <p><i class="fas fa-ellipsis-h"></i> Santa fe 1442, C.A.B.A. - Argentina.</p>
                    </div>
                </div>
                <div class="relleno"></div>
                <button>Guardar cambios</button>
            </div>
        </div>
    
</body>
</html>