<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Charset / Viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Archivos CSS -->
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- Archivos javascript -->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Productos</title>
</head>

<body>
    <!-- Hoja de estilo para el nav navbar.css -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top w-100 m-0 shadow">
        <div class="container">
            <div class="navbar-brand">
                <img src="/images/logo.svg" height="40px" alt="">
            </div>

            <i class="fas fa-bars navbar-toggler" data-target="#menu" data-toggle="collapse" type="button"></i>
                
            <div class="collapse navbar-collapse" id="menu">

                <input class="form-control " type="text" placeholder="Search" aria-label="Search">


                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item mx-1">
                        <a href="/home" class="nav-link">Inicio</a>
                    </li>
                    <li class="navbar-item mx-1">
                        <a href="/profile" class="nav-link">Perfil</a>
                    </li>
                    <li class="navbar-item mx-1">
                        <a href="/products" class="nav-link">Productos</a>
                    </li>
                    <li class="navbar-item mx-1">
                        <a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
<div class="relleno"></div>
    <!-- Hasta aca llega el menu de navegacion -->
    <!-- Aca comienzan los productos-->
    <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="navBar">
                        <div>
                            <ul class="text-center">Ordenar por:
                              <a href="#"><li class="text-center">Categoria</li></a>
                              <a href="#"><li class="text-center">Tamaño</li></a>
                            </ul>
                          </div>

                    </div>
                </div>
                <div class="col-9">
                    <div id="firstRow"class="row">
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/Boquitas pintadas mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Boquitas Pintadas</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
                        
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/afra azul mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Africa Azul</h4>
                            <p class="text-center px-3">$300</p>
                        </div>
                        
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/jardin estrellado naranja mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Jardin Naranja</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
        
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/orquidea celeste mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Orquídea Celeste</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
                    </div>
                    <div id="secondRow" class="row">
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/alegria amarilla mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Alegría Amarilla</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
                        
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/cala azul mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Calandra Azul</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
                        
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/afra fucsia mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Africa Fucsia</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
        
                        <div id="producto" class="producto col-lg-3 col-md-6 col-sm-12 mt-1 position-relative">
                            <a href="/detail"><img class="w-100" src="/images/orquidea celeste mostrado.heic" alt=""></a>
                            <h5 class="px-1 my-2 text-center">Orquídea Celeste</h5>
                            <p class="text-center px-3">$300</p>
                        </div>
                    </div>
                    
                </div>
            


                </div>
            </div>
    </div>
    <footer class="">
        <div class="container">
            
            <div class="row d-flex justify-content-between">

                <span class="py-5 col-lg-6 col-md-6 col-sm-12 text-center">© Plumeti 2020</span>


                <span class="py-5 col-lg-6 col-md-6 col-sm-12 text-center">
                    <a href="">
                        <i class="ml-3 fab fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="ml-3 fab fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="ml-3 fab fa-whatsapp"></i>
                    </a>
                    <a href="">
                        <i class="ml-3 fas fa-envelope"></i>
                    </a>
                </span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>