<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/profile-left.css">
    <link rel="stylesheet" href="/stylesheets/profile-record.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Home</title>
</head>
<body>

    <%- include('partials/navbar.ejs') %>

    <div class="container-fluid">
        <div class="row">

            <%- include('partials/profile-left.ejs') %>


            <div class="col-lg-9 col-sm-12 p-5" id="right">
                <div class="right">

                    <div class="row">
                        <div class="col-12">
        
                    <select name="select">
                        <option value="nombre">Nombre</option> 
                        <option value="precio" >Precio</option>
                        <option value="fecha">Fecha</option>
                      </select>
                        </div>
                    </div>

                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>







                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>







                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>







                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>







                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>







                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>







                    <div class="row product-record my-3 border">
                        <div class="col-md-2 col-sm-12 d-flex justify-content-center py-3">
                            <div class="product-img">
                                <img src="/images/slider2.jpg" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-md-start align-items-center">
                            <div class="row">Nombre</div>
                            <div class="row">Pañuelo Selva</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="rpw">Precio</div>
                            <div class="rpw">$420</div>
                        </div>


                        <div class="col-md-2 col-sm-12 my-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">Fecha</div>
                            <div class="row">07/10/19</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>